body{
  max width: 1400px;
  margin-left: 75px;
  margin-right: 75px;
  background: rgba(143,188,143,0.5);
}
h1{
  text-align: center;
  font-family: Garamond, serif;
  padding-top: 20px;
  text-decoration: underline;
}
.head nav{
  text-align: center;
  padding: 10px;
}
.head a{
  font-family: Garamond, serif;
  font-size: 110%;
  padding: 10px 20px;
  margin: 70px;
  text-decoration: none;
}
.head a:link{
  color: black;
}
.head a:visited{
  color: black;
}
.head a:hover{
  background:rgba(169,169,169,0.8);
}
img{
  display: block;
  width: 40%;
  margin: auto;
}
p{
  font-family: Garamond, serif;
  margin: 20px;
  padding: 20px;
  background: rgba(250,235,215,0.4)
}
#donate p{
  background: rgba(233,150,122,0.8);
  text-align: center;
}
#donate a{
  text-decoration: none;
}
